    {% extends "base.html" %}
    {% block content_left %}
    <div class="khaneh">
        <h1>My Personal Website</h1>
        <p>Hi, this is our Python project website.</p>
        <p>
        All roots in our site:<br/>
        <a href='http://localhost:5000/about'>/about</a><br/>
        <form action="{{ url_for('hello') }}" method="post">/hello
            <input name="phrase" autocomplete="off" placeholder="Enter a phrase">
            <input type="submit" name= "form" value="Go" /><br/>
        /hello/< segment1 >/< segment2 ><br/>
        <a href='{{ url_for('home') }}'>/home</a><br/>
        <a href='{{ url_for('finance') }}'>/finance</a><br/>
        <a href='{{ url_for('online') }}'>/online</a><br/>

    </p>
    </div>
    {% endblock %}

    {% block content_right %}
    <h1 style="text-align:center;">Finance with Python</h1><br/><br/><br/>
    <h2 style="text-align:left;">Professor:</h2>
    <h2 style="text-align:center;">Pierre POMPIDOR</h2><br/><br/><br/>

    <h2 style="text-align:left;">Author:</h2>
    <h2 style="text-align:center;">Amir SHIRALI POUR</h2><br/><br/><br/>

    {% endblock %}
